/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

*,
*::after,
*::before{
    box-sizing: border-box;
}

body{
    font-size: 16px;
    font-family: sans-serif;
    line-height: 1.6;
}

.container{
    margin: 0 auto;
    width: 90%;
    justify-content: center;
    border: 8px solid gray;
    position: relative;
}

.flex{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
h1{
    font-size: 3rem;
    font-weight: 900;
    text-align: center;
    text-transform: capitalize
}
h2 .heading-2{
    font-size: 2rem;
    text-align: center;
    font-weight: 500;
    color: gray;
}

h2{
    text-align: center;
    font-size: 2.5rem;
    font-weight: 900;
}
h3{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
    color: red;
}
img{
    height: 300px;
    width: 100%;
}

.date{
    border-radius: 50%;
    height: 4rem;
    width: 4rem;
    background-color: red;
    position: absolute;
    margin: 1rem;
    top: 1rem;
    right: 1rem;
}

.month{
    font-size: 1rem;
    color: #ffff;
    font-weight: 900;
    text-align: center;
    margin: 0.5rem;
}

@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
    .flex{
        display: flex;
        flex-wrap: wrap;
    }
  }